/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* end reset browser styles */

/* basic layout -- 2 columns */
.main {
	float: left;
	width: 580px;
}
.sidebar {
	margin-left: 600px;
	padding: 15px;
	background: #E9F5FE;
	line-height: 1.1em;
}

html {
	font-size: 1.25em;

}

body{
	background: #CDE6FF url(images/bg_body.png) top center no-repeat;
	padding: 0px 50px;
	color: #79646B;
	width: 800px;
	margin: 0 auto;
	line-height: 1.5em;
}


h1 {
	margin-top: 125px;
	font-size: 3em;
	color: #B1967C;
	font-weight: bolder;
	margin-bottom: .5em;
}


h2 {
	margin-top: .5em;
	font-size: 2em;
}

.main > h2 {
	background: transparent url(images/bullet_flower.png) center left no-repeat;
  padding-left: 75px;
	border-bottom: 2px solid white;
	color: #E8A064;
}

.sidebar > h2 {
	color: #B4CCE6;
	margin-bottom: .5em;
}

div:first-of-type > p {
	padding-left: 75px;
}

div:first-of-type > p:first-of-type {
	color: #6D9AD0;
	padding-left: 0px;
}

