html{ 
  font-family: 'Roboto', Arial, sans-serif;
}
h1, h2, h3, h4, ul{
  color: #BD8100;
  padding-left: 50px;
}

ul {
 /*list-style-position: inside;*/
 padding-left: 90px;
}

p {
  margin-left: 100px;
  border-left: 20px solid #BD8100;
  padding-left: 10px;
  padding-right: 50px;
  color: red;
}